html
	head
		title Custom Checkout example - Basic with installments (Charge)
		link(rel='stylesheet',href='/css/main.css')
	body
		h1  Custom Checkout example - Basic with installments (Charge)

		| Payment id: #{payment_id}
